.blog {
}
.blog__title {
  text-align: center;
  color: #333333;
  h1 {
    font-size: 4.5rem;
  }
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
