.blog-list {

}
.blog-list__cate {
  h2 {
    text-align: center;
    font-size: 3.8rem;
    letter-spacing: 5px;
    color: #424242;
  }
}
.blog-list__items {
  padding: 2rem;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
