.blog-detail {
  padding: 4rem;

}
.blog-detail__content {
  h2 {
    margin: 0;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
  }
}
.blog-list__content__title {
}
.blog-list__side {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
