.products {

}
.products__query {
  button {
    font-size: 1.5rem;
  }
}
.products__query__price-input {
  width: 7rem;
}
.products__list {
  margin-top: 2rem;
}
.products__list__item {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
